.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  tbody {
    tr {
      padding: 10px;
      td{
        padding: 10px;
      }
    }
  }
}
